In [79]:
!date
!pwd
! conda env list | grep '*'

Mon Feb  8 13:52:30 GMT 2021
/ifs/obds-training/jan21/aneesha/python_datascience
obds_py3              *  /ifs/obds-training/jan21/aneesha/conda/obds_conda/envs/obds_py3

In [80]:
# import numpy
import numpy as np
# import pandas
import pandas as pd

In [81]:
#Read in a idxstats table you have generated for one of your samples on the course and save to variable called idxdf
idxdf = pd.read_csv('/ifs/obds-training/jan21/exercises/pandas/ERR1755082.idxstats', sep='\t', header=None)

#Assign column names to table
idxdf.columns = ['ref_seq_name', 'seq_length', 'mapped_reads','unmapped_reads']
idxdf 

#Apply the describe() and info() methods to the idxdf object
idxdf.info()
idxdf.describe()

#Look at the shape and index attributes of idxdf
print(idxdf.index, idxdf.shape)

#From idxdf select rows 6-12 and create a new variable called idxdf2
idxdf2 = idxdf[6:13]
idxdf2
idxdf 

#From idxdf make a new dataframe chr_mapped consisting of columns 1&3 (chr & mapped).
#Save to a new file called mapped_reads_per_chr.tsv - make sure the output is tab seperated
chr_mapped = idxdf[['ref_seq_name','mapped_reads']]
chr_mapped.to_csv('mapped_read.tsv',sep='\t', header=True, index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ref_seq_name    23 non-null     object
 1   seq_length      23 non-null     int64
 2   mapped_reads    23 non-null     int64
 3   unmapped_reads  23 non-null     int64
dtypes: int64(3), object(1)
memory usage: 864.0+ bytes
RangeIndex(start=0, stop=23, step=1) (23, 4)

In [48]:
!less mapped_read.tsv

ref_seq_name    mapped_reads
chr1    7505663
chr10   4880751
chr11   7452789
chr12   3104950
chr13   3222176
chr14   3975495
chr15   3796740
chr16   2481586
chr17   5794590
chr18   2167389
chr19   3573941
chr2    6596073
chr3    4062539
chr4    5264332
chr5    5440642
chr6    4683974
chr7    7687960
chr8    4345076
chr9    5147071
chrM    2421340
chrX    3431992
chrY    310467
:ped_read.tsv 

In [82]:
#Create a new column for idxdf called 'reads_per_base' by dividing number of mapped reads by length column
idxdf = idxdf.assign(reads_per_base = idxdf['mapped_reads'] / idxdf['seq_length'])
idxdf

   ref_seq_name  seq_length  mapped_reads  unmapped_reads  reads_per_base
0          chr1   195471971       7505663          323256        0.038398
1         chr10   130694993       4880751          248716        0.037345
2         chr11   122082543       7452789          385535        0.061047
3         chr12   120129022       3104950          145924        0.025847
4         chr13   120421639       3222176          150791        0.026757
5         chr14   124902244       3975495          191228        0.031829
6         chr15   104043685       3796740          194000        0.036492
7         chr16    98207768       2481586          122178        0.025269
8         chr17    94987271       5794590          280652        0.061004
9         chr18    90702639       2167389          103901        0.023896
10        chr19    61431566       3573941          183566        0.058178
11         chr2   182113224       6596073          320953        0.036220
12         chr3   160039680       4062539          197868        0.025385
13         chr4   156508116       5264332          262146        0.033636
14         chr5   151834684       5440642          263428        0.035833
15         chr6   149736546       4683974          223154        0.031281
16         chr7   145441459       7687960          361209        0.052859
17         chr8   129401213       4345076          212528        0.033578
18         chr9   124595110       5147071          247008        0.041310
19         chrM       16299       2421340           80238      148.557580
20         chrX   171031299       3431992          151970        0.020066
21         chrY    91744698        310467           15700        0.003384
22            *           0             0         2305942             NaN

In [83]:
#Subset the rows that have reads_per_base values greater than 0.05
subset_idxdf = idxdf[idxdf.reads_per_base > 0.05]
subset_idxdf

   ref_seq_name  seq_length  mapped_reads  unmapped_reads  reads_per_base
2         chr11   122082543       7452789          385535        0.061047
8         chr17    94987271       5794590          280652        0.061004
10        chr19    61431566       3573941          183566        0.058178
16         chr7   145441459       7687960          361209        0.052859
19         chrM       16299       2421340           80238      148.557580

In [84]:
#Create a new column of length / 1 million to give a length_Mbs column (length in Megabases)
from IPython.display import display, HTML
idxdf['length_Mbs']= idxdf['seq_length']/1000000
display(idxdf)

,ref_seq_name,seq_length,mapped_reads,unmapped_reads,reads_per_base,length_Mbs
0,chr1,195471971,7505663,323256,0.038398,195.471971
1,chr10,130694993,4880751,248716,0.037345,130.694993
2,chr11,122082543,7452789,385535,0.061047,122.082543
3,chr12,120129022,3104950,145924,0.025847,120.129022
4,chr13,120421639,3222176,150791,0.026757,120.421639
5,chr14,124902244,3975495,191228,0.031829,124.902244
6,chr15,104043685,3796740,194000,0.036492,104.043685
7,chr16,98207768,2481586,122178,0.025269,98.207768
8,chr17,94987271,5794590,280652,0.061004,94.987271
9,chr18,90702639,2167389,103901,0.023896,90.702639
10,chr19,61431566,3573941,183566,0.058178,61.431566
11,chr2,182113224,6596073,320953,0.036220,182.113224
12,chr3,160039680,4062539,197868,0.025385,160.039680
13,chr4,156508116,5264332,262146,0.033636,156.508116
14,chr5,151834684,5440642,263428,0.035833,151.834684
15,chr6,149736546,4683974,223154,0.031281,149.736546
16,chr7,145441459,7687960,361209,0.052859,145.441459
17,chr8,129401213,4345076,212528,0.033578,129.401213
18,chr9,124595110,5147071,247008,0.041310,124.595110
19,chrM,16299,2421340,80238,148.557580,0.016299
20,chrX,171031299,3431992,151970,0.020066,171.031299
21,chrY,91744698,310467,15700,0.003384,91.744698
22,*,0,0,2305942,NaN,0.000000

In [85]:
#Subset the rows that have reads_per_base values greater than 0.05 and a chromosome length under 100 Mb
idxdf[(idxdf['reads_per_base'] > 0.05) & (idxdf['length_Mbs'] < 100)]

#Delete the reads_per_base column
idxdf = idxdf.drop('reads_per_base', axis=1)

idxdf

   ref_seq_name  seq_length  mapped_reads  unmapped_reads  length_Mbs
0          chr1   195471971       7505663          323256  195.471971
1         chr10   130694993       4880751          248716  130.694993
2         chr11   122082543       7452789          385535  122.082543
3         chr12   120129022       3104950          145924  120.129022
4         chr13   120421639       3222176          150791  120.421639
5         chr14   124902244       3975495          191228  124.902244
6         chr15   104043685       3796740          194000  104.043685
7         chr16    98207768       2481586          122178   98.207768
8         chr17    94987271       5794590          280652   94.987271
9         chr18    90702639       2167389          103901   90.702639
10        chr19    61431566       3573941          183566   61.431566
11         chr2   182113224       6596073          320953  182.113224
12         chr3   160039680       4062539          197868  160.039680
13         chr4   156508116       5264332          262146  156.508116
14         chr5   151834684       5440642          263428  151.834684
15         chr6   149736546       4683974          223154  149.736546
16         chr7   145441459       7687960          361209  145.441459
17         chr8   129401213       4345076          212528  129.401213
18         chr9   124595110       5147071          247008  124.595110
19         chrM       16299       2421340           80238    0.016299
20         chrX   171031299       3431992          151970  171.031299
21         chrY    91744698        310467           15700   91.744698
22            *           0             0         2305942    0.000000

In [114]:
#read in ensembl gtf files to create gtf
gtf = pd.read_table('/ifs/obds-training/jan21/exercises/pandas/Mus_musculus.GRCm38.102.chr.gtf.gz', sep='\t', header=None, comment='#')

/ifs/obds-training/jan21/aneesha/conda/obds_conda/envs/obds_py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [144]:
#Assign appropriate column names https://www.ensembl.org/info/website/upload/gff.html
gtf.columns = ['seq_name', 'source', 'feature','start', 'end', 'score', 'strand', 'frame', 'attribute']
print(gtf) 

#Find the unique values for 'source' column
print(gtf['source'].unique())

#Subset all values from 'ensembl_havana' and assign to new df called 'ens_df'
ens_df = gtf[gtf.source == 'ensembl_havana']

#What is the size of ens_df?
ens_df.info
ens_df.head()

#Group ens_df by 'feature' column & apply the 'count' function to get the number of rows in each feature
ens_df.groupby('feature').count()

#Create a new df called 'genes' by subsetting all rows with 'gene' as a feature
gene_df= ens_df[ens_df.feature == 'gene'].copy()
display(gene_df)

#Create a new column called 'gene_length' and calculate the length of each gene
gene_df['gene_length']= gene_df['end']- gene_df['start']
display(gene_df)

#Calculate the mean and median of gene lengths
display(gene_df.mean(axis=0))
display(gene_df.median(axis=0))
display(np.median(gene_df['gene_length']))
display(np.mean(gene_df['gene_length']))
display(gene_df['gene_length'].describe())


#Find the top 10 longest genes
gene_df.sort_values(by=['gene_length'], ascending=False).head(10)

        seq_name   source     feature    start      end score strand frame  \
0              1   havana        gene  3073253  3074322     .      +     .
1              1   havana  transcript  3073253  3074322     .      +     .
2              1   havana        exon  3073253  3074322     .      +     .
3              1  ensembl        gene  3102016  3102125     .      +     .
4              1  ensembl  transcript  3102016  3102125     .      +     .
...          ...      ...         ...      ...      ...   ...    ...   ...
1868658       MT    insdc  transcript    15289    15355     .      +     .
1868659       MT    insdc        exon    15289    15355     .      +     .
1868660       MT    insdc        gene    15356    15422     .      -     .
1868661       MT    insdc  transcript    15356    15422     .      -     .
1868662       MT    insdc        exon    15356    15422     .      -     .

                                                 attribute
0        gene_id "ENSMUSG00000102693"; gene_version "1"...
1        gene_id "ENSMUSG00000102693"; gene_version "1"...
2        gene_id "ENSMUSG00000102693"; gene_version "1"...
3        gene_id "ENSMUSG00000064842"; gene_version "1"...
4        gene_id "ENSMUSG00000064842"; gene_version "1"...
...                                                    ...
1868658  gene_id "ENSMUSG00000064371"; gene_version "1"...
1868659  gene_id "ENSMUSG00000064371"; gene_version "1"...
1868660  gene_id "ENSMUSG00000064372"; gene_version "1"...
1868661  gene_id "ENSMUSG00000064372"; gene_version "1"...
1868662  gene_id "ENSMUSG00000064372"; gene_version "1"...

[1868663 rows x 9 columns]
['havana' 'ensembl' 'ensembl_havana' 'mirbase' 'insdc']

,seq_name,source,feature,start,end,score,strand,frame,attribute
6,1,ensembl_havana,gene,3205901,3671498,.,-,.,"gene_id ""ENSMUSG00000051951""; gene_version ""5""..."
70,1,ensembl_havana,gene,3999557,4409241,.,-,.,"gene_id ""ENSMUSG00000025900""; gene_version ""13..."
160,1,ensembl_havana,gene,4490931,4497354,.,-,.,"gene_id ""ENSMUSG00000025902""; gene_version ""13..."
283,1,ensembl_havana,gene,4773206,4785739,.,-,.,"gene_id ""ENSMUSG00000033845""; gene_version ""13..."
354,1,ensembl_havana,gene,4807788,4848410,.,+,.,"gene_id ""ENSMUSG00000025903""; gene_version ""14..."
...,...,...,...,...,...,...,...,...,...
1868189,19,ensembl_havana,gene,60864051,60874556,.,-,.,"gene_id ""ENSMUSG00000024997""; gene_version ""7""..."
1868209,19,ensembl_havana,gene,60889749,61095968,.,+,.,"gene_id ""ENSMUSG00000003228""; gene_version ""9""..."
1868272,19,ensembl_havana,gene,61053840,61140840,.,-,.,"gene_id ""ENSMUSG00000074733""; gene_version ""14..."
1868395,19,ensembl_havana,gene,61174686,61176309,.,-,.,"gene_id ""ENSMUSG00000094649""; gene_version ""1""..."
1868407,19,ensembl_havana,gene,61223957,61228429,.,-,.,"gene_id ""ENSMUSG00000059326""; gene_version ""7""..."

,seq_name,source,feature,start,end,score,strand,frame,attribute,gene_length
6,1,ensembl_havana,gene,3205901,3671498,.,-,.,"gene_id ""ENSMUSG00000051951""; gene_version ""5""...",465597
70,1,ensembl_havana,gene,3999557,4409241,.,-,.,"gene_id ""ENSMUSG00000025900""; gene_version ""13...",409684
160,1,ensembl_havana,gene,4490931,4497354,.,-,.,"gene_id ""ENSMUSG00000025902""; gene_version ""13...",6423
283,1,ensembl_havana,gene,4773206,4785739,.,-,.,"gene_id ""ENSMUSG00000033845""; gene_version ""13...",12533
354,1,ensembl_havana,gene,4807788,4848410,.,+,.,"gene_id ""ENSMUSG00000025903""; gene_version ""14...",40622
...,...,...,...,...,...,...,...,...,...,...
1868189,19,ensembl_havana,gene,60864051,60874556,.,-,.,"gene_id ""ENSMUSG00000024997""; gene_version ""7""...",10505
1868209,19,ensembl_havana,gene,60889749,61095968,.,+,.,"gene_id ""ENSMUSG00000003228""; gene_version ""9""...",206219
1868272,19,ensembl_havana,gene,61053840,61140840,.,-,.,"gene_id ""ENSMUSG00000074733""; gene_version ""14...",87000
1868395,19,ensembl_havana,gene,61174686,61176309,.,-,.,"gene_id ""ENSMUSG00000094649""; gene_version ""1""...",1623
1868407,19,ensembl_havana,gene,61223957,61228429,.,-,.,"gene_id ""ENSMUSG00000059326""; gene_version ""7""...",4472

start          7.493065e+07
end            7.497784e+07
gene_length    4.718941e+04
dtype: float64

start          73367660.5
end            73407314.5
gene_length       16308.5
dtype: float64

16308.5

47189.4075147085

count    2.243600e+04
mean     4.718941e+04
std      1.095276e+05
min      9.000000e+00
25%      5.905750e+03
50%      1.630850e+04
75%      4.379100e+04
max      2.960899e+06
Name: gene_length, dtype: float64

,seq_name,source,feature,start,end,score,strand,frame,attribute,gene_length
881840,7,ensembl_havana,gene,130162451,133123350,.,-,.,"gene_id ""ENSMUSG00000030849""; gene_version ""18...",2960899
452202,4,ensembl_havana,gene,75941238,78211961,.,-,.,"gene_id ""ENSMUSG00000028399""; gene_version ""18...",2270723
301809,X,ensembl_havana,gene,82948870,85206141,.,+,.,"gene_id ""ENSMUSG00000045103""; gene_version ""19...",2257271
673541,6,ensembl_havana,gene,45059357,47304213,.,+,.,"gene_id ""ENSMUSG00000039419""; gene_version ""17...",2244856
1626801,16,ensembl_havana,gene,39984361,42181679,.,+,.,"gene_id ""ENSMUSG00000061080""; gene_version ""11...",2197318
158839,2,ensembl_havana,gene,40595246,42653624,.,-,.,"gene_id ""ENSMUSG00000049252""; gene_version ""17...",2058378
232934,2,ensembl_havana,gene,140395309,142392966,.,+,.,"gene_id ""ENSMUSG00000068205""; gene_version ""14...",1997657
836474,7,ensembl_havana,gene,90476672,92449247,.,+,.,"gene_id ""ENSMUSG00000052572""; gene_version ""19...",1972575
999774,8,ensembl_havana,gene,15892537,17535586,.,-,.,"gene_id ""ENSMUSG00000060924""; gene_version ""15...",1643049
1498920,12,ensembl_havana,gene,88722876,90334935,.,+,.,"gene_id ""ENSMUSG00000066392""; gene_version ""12...",1612059

In [153]:
#Find the lowest 20 shortest genes
gene_df.sort_values(by=['gene_length'], ascending=True).head(20)

#Split attributes column on ';' and create new dataframe, merge this onto the ens_gtf dataframe using pandas merge 
attributes_df=gene_df['attribute'].str.split(';', expand=True)
display(attributes_df)
display(gene_df)

genes_full_attributes = pd.concat([gene_df, attributes_df], axis=1)

display(genes_full_attributes)

,0,1,2,3,4,5,6,7
6,"gene_id ""ENSMUSG00000051951""","gene_version ""5""","gene_name ""Xkr4""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000026353""","havana_gene_version ""2""",
70,"gene_id ""ENSMUSG00000025900""","gene_version ""13""","gene_name ""Rp1""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000049985""","havana_gene_version ""3""",
160,"gene_id ""ENSMUSG00000025902""","gene_version ""13""","gene_name ""Sox17""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000050014""","havana_gene_version ""7""",
283,"gene_id ""ENSMUSG00000033845""","gene_version ""13""","gene_name ""Mrpl15""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000029329""","havana_gene_version ""3""",
354,"gene_id ""ENSMUSG00000025903""","gene_version ""14""","gene_name ""Lypla1""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000021562""","havana_gene_version ""4""",
...,...,...,...,...,...,...,...,...
1868189,"gene_id ""ENSMUSG00000024997""","gene_version ""7""","gene_name ""Prdx3""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000021212""","havana_gene_version ""1""",
1868209,"gene_id ""ENSMUSG00000003228""","gene_version ""9""","gene_name ""Grk5""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000074399""","havana_gene_version ""1""",
1868272,"gene_id ""ENSMUSG00000074733""","gene_version ""14""","gene_name ""Zfp950""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000033031""","havana_gene_version ""5""",
1868395,"gene_id ""ENSMUSG00000094649""","gene_version ""1""","gene_name ""Gm7102""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000042892""","havana_gene_version ""1""",
1868407,"gene_id ""ENSMUSG00000059326""","gene_version ""7""","gene_name ""Csf2ra""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000074402""","havana_gene_version ""1""",

,seq_name,source,feature,start,end,score,strand,frame,attribute,gene_length
6,1,ensembl_havana,gene,3205901,3671498,.,-,.,"gene_id ""ENSMUSG00000051951""; gene_version ""5""...",465597
70,1,ensembl_havana,gene,3999557,4409241,.,-,.,"gene_id ""ENSMUSG00000025900""; gene_version ""13...",409684
160,1,ensembl_havana,gene,4490931,4497354,.,-,.,"gene_id ""ENSMUSG00000025902""; gene_version ""13...",6423
283,1,ensembl_havana,gene,4773206,4785739,.,-,.,"gene_id ""ENSMUSG00000033845""; gene_version ""13...",12533
354,1,ensembl_havana,gene,4807788,4848410,.,+,.,"gene_id ""ENSMUSG00000025903""; gene_version ""14...",40622
...,...,...,...,...,...,...,...,...,...,...
1868189,19,ensembl_havana,gene,60864051,60874556,.,-,.,"gene_id ""ENSMUSG00000024997""; gene_version ""7""...",10505
1868209,19,ensembl_havana,gene,60889749,61095968,.,+,.,"gene_id ""ENSMUSG00000003228""; gene_version ""9""...",206219
1868272,19,ensembl_havana,gene,61053840,61140840,.,-,.,"gene_id ""ENSMUSG00000074733""; gene_version ""14...",87000
1868395,19,ensembl_havana,gene,61174686,61176309,.,-,.,"gene_id ""ENSMUSG00000094649""; gene_version ""1""...",1623
1868407,19,ensembl_havana,gene,61223957,61228429,.,-,.,"gene_id ""ENSMUSG00000059326""; gene_version ""7""...",4472

,seq_name,source,feature,start,end,score,strand,frame,attribute,gene_length,0,1,2,3,4,5,6,7
6,1,ensembl_havana,gene,3205901,3671498,.,-,.,"gene_id ""ENSMUSG00000051951""; gene_version ""5""...",465597,"gene_id ""ENSMUSG00000051951""","gene_version ""5""","gene_name ""Xkr4""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000026353""","havana_gene_version ""2""",
70,1,ensembl_havana,gene,3999557,4409241,.,-,.,"gene_id ""ENSMUSG00000025900""; gene_version ""13...",409684,"gene_id ""ENSMUSG00000025900""","gene_version ""13""","gene_name ""Rp1""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000049985""","havana_gene_version ""3""",
160,1,ensembl_havana,gene,4490931,4497354,.,-,.,"gene_id ""ENSMUSG00000025902""; gene_version ""13...",6423,"gene_id ""ENSMUSG00000025902""","gene_version ""13""","gene_name ""Sox17""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000050014""","havana_gene_version ""7""",
283,1,ensembl_havana,gene,4773206,4785739,.,-,.,"gene_id ""ENSMUSG00000033845""; gene_version ""13...",12533,"gene_id ""ENSMUSG00000033845""","gene_version ""13""","gene_name ""Mrpl15""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000029329""","havana_gene_version ""3""",
354,1,ensembl_havana,gene,4807788,4848410,.,+,.,"gene_id ""ENSMUSG00000025903""; gene_version ""14...",40622,"gene_id ""ENSMUSG00000025903""","gene_version ""14""","gene_name ""Lypla1""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000021562""","havana_gene_version ""4""",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868189,19,ensembl_havana,gene,60864051,60874556,.,-,.,"gene_id ""ENSMUSG00000024997""; gene_version ""7""...",10505,"gene_id ""ENSMUSG00000024997""","gene_version ""7""","gene_name ""Prdx3""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000021212""","havana_gene_version ""1""",
1868209,19,ensembl_havana,gene,60889749,61095968,.,+,.,"gene_id ""ENSMUSG00000003228""; gene_version ""9""...",206219,"gene_id ""ENSMUSG00000003228""","gene_version ""9""","gene_name ""Grk5""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000074399""","havana_gene_version ""1""",
1868272,19,ensembl_havana,gene,61053840,61140840,.,-,.,"gene_id ""ENSMUSG00000074733""; gene_version ""14...",87000,"gene_id ""ENSMUSG00000074733""","gene_version ""14""","gene_name ""Zfp950""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000033031""","havana_gene_version ""5""",
1868395,19,ensembl_havana,gene,61174686,61176309,.,-,.,"gene_id ""ENSMUSG00000094649""; gene_version ""1""...",1623,"gene_id ""ENSMUSG00000094649""","gene_version ""1""","gene_name ""Gm7102""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000042892""","havana_gene_version ""1""",
1868407,19,ensembl_havana,gene,61223957,61228429,.,-,.,"gene_id ""ENSMUSG00000059326""; gene_version ""7""...",4472,"gene_id ""ENSMUSG00000059326""","gene_version ""7""","gene_name ""Csf2ra""","gene_source ""ensembl_havana""","gene_biotype ""protein_coding""","havana_gene ""OTTMUSG00000074402""","havana_gene_version ""1""",

In [ ]:
#Count the number of genes per chromosome, and add the number of genes per chomosome onto the idxdf from earlier